name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==1.7.4

      - name: Build wheels
        env: 
          CIBW_BUILD: cp36-* cp37-* cp38-*
          CI_BEFORE_ALL_LINUX: sudo apt-get install gfortran
          CIBW_BEFORE_ALL_MACOS: brew install gcc && brew link gcc
          CIBW_BEFORE_BUILD: "pip install numpy"
          CIBW_SKIP: *macos*
        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl